@use "../global/" as *;

.u-hide{
  display: block;
  @include mq(){
    display: none;
  }
}

.u-hide--l{
  display: block;
  @include mq(l){
    display: none;
  }
}

.u-show{
  display: none;
  @include mq(){
    display: block;
  }
}

.u-show--l{
  display: none;
  @include mq(l){
    display: block;
  }
}