// color
$color: (
  main: #D96894,

  textColor: #333,
);

// size
$m-inner: 1200px;
// padding
$padding: 60px;
$padding-tab: 30px;
$padding-sp: 20px;

// font-family
$mainFont:  'Noto Sans JP', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

// breakpoint
$breakpoints : (
  "s":"screen and (min-width:576px)",
  "m":"screen and (min-width:768px)",
  "l":"screen and (min-width:992px)",
  // "xl":"screen and (min-width:1200px)",
  "xl":"screen and (min-width:#{$m-inner})",
  "xxl":"screen and (min-width:1400px)",
);

// transition time
$ts-time: 0.3s;

// z-index
$z-map : (
  modal: 100,   // モダール
	drawer: 40,   // ドロワー
	floating: 30, // フローティングアイテム
  header: 20,
	footer: 10,   // フッター
  base: 1,
  under: -1,
);