@use "./variable" as var;
@use "./function" as fn;

// メディアクエリ
@mixin mq($breakpoint: m){
  @media #{map-get(var.$breakpoints,$breakpoint)}{
    @content;
  }
}

// font-sizeのVW化
@mixin fz_vw($size: 16){
  font-size: fn.get_vw($size);
}

// リンクのホバーアクションデフォルト
@mixin hover() {
  @include mq(hov){
    transition: opacity var.$ts-time ease;
    &:hover{
      opacity: 0.7;
    }
  }
}